################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/RateMyTMUCourses/.vs/RateMyTMUCourses/FileContentIndex/67bd6f4c-1c06-47c1-be23-ccdafbc95753.vsidx
/Backend/RateMyTMUCourses/.vs/RateMyTMUCourses/FileContentIndex
