.container{
    margin-top: 120px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items:center
}

.title{
    font-size: 45px;
    text-align: left;
    width: 90%;
    max-width: 800px;
}

.searchBox {
    display: flex; /* Aligns children (input and icon) in a row */
    align-items: center; /* Vertically centers the children within the 'searchBox' */
    position: relative; /* Sets position context for absolute positioning inside */
    width: 90%; /* Set width of the searchBox container */
    max-width: 800px;
}

.searchBox input{
    width: 100%;
    height: 60px;
    font-size: 20px;
    padding-left: 70px; /* Provides space for the icon inside the input box */
    border: 1px solid #ccc; /* Optional: adds a border around the input */
}

input:focus {
    outline: none;
  }

.dropdown{
    display: flex;
    flex-direction: column;
    width: 90%; /* Set width of the searchBox container */
    max-width: 800px;
}

.searchOption{
    text-decoration: none;
    max-width: 100%;
    text-align: center;
    border-left: 1px solid #ccc; /* Optional: adds a border around the input */
    border-right: 1px solid #ccc; /* Optional: adds a border around the input */
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

.searchOption:hover{
    background-color: rgb(255, 228, 228);
}

.searchIcon{
    position: absolute; /* Position the icon relative to the 'searchBox' */
    left: 20px; /* Distance from the left edge of the 'searchBox' */
    color: #ccc; /* Color of the icon, adjust as needed */
    font-size:26px; 
}



@media (max-width: 1000px) {
    .title {
        font-size: 20px; /* Even smaller for very narrow screens */
    }
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    margin-top: 40px;
    width: 17.7rem;
    height: 3rem;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.425rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.85rem 0;
    font-weight: 700;
    text-align: center;
    color: #656262;
    font-size: 18px;
   }
   
   button:hover .circle {
    width: 91%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

   @media (max-width: 420px) {
    .container{
        margin-left: 2%;
    }
    .container .dropdown .searchOption{
        font-size: 12px;

    }
    .container .title{
        margin-left: 12px;
        font-size: 20px;
    }
    .searchBox input{
        padding-left: 55px;
        font-size: 15px;
    }
    .learn-more{
        margin-left: 6%;
    }
}