.reviewBox{
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: 3px;
    padding-bottom: 10px;
    padding-top:10px;
    background-color: white;    
    margin-bottom: 5px;
}

.emptyReviewBox{
    padding-top:10px;
    margin-left: 9px;
    width: 600px;
}

.reviewBoxHeader{
    display: flex;
    justify-content: space-between;
    gap:100px;
    font-size: 6px;
    color: #484848;
    letter-spacing: 1.5px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.reviewBoxHeader .courseRating{
    font-size: 6px;
    color: #484848;
    letter-spacing: 1.5px;
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    align-items: flex-end;
}

.reviewBoxHeader .courseRating .rating {
    margin-bottom: -5px;
    display: flex;
}

.reviewBoxHeader .courseRating .difficulty {
    display: flex;
}

.reviewBoxHeader .courseRating .difficulty h1{
    margin-right: 5px;
}

.reviewBoxHeader .courseRating .rating h1{
    margin-right: 5px;
}

.reviewBox .reviewText{
    margin-left: 30px;
    margin-bottom: 30px;
    color: #656262;
    font-weight:400;
    font-size: 16px;
    line-height: 22px;
}

.reviewBox .professor{
    margin-left: 30px;
    display: flex;
    gap: 5px;
    font-size: 7px;
    color: rgb(31, 41, 55);
}

.reviewBox .professor .name{
    font-weight: 506;
}

@media (max-width: 420px) {
    .emptyReviewBox{
        width: 83%;
        text-align: center;
    }
}