.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 7px;
    color:#282936dd;
    padding-top: 3px;
}

.tab-options {
    display: flex;
    gap: 40px; /* Space between the tabs */
    flex: 1; /* This makes the tab options take up available space */
    justify-content: center; /* Center the tabs horizontally */
}

.tab-options .option:hover {
    cursor: pointer;
    text-decoration: underline; 
    text-decoration-thickness: 1.5px;
    text-decoration-color: rgb(216, 8, 8);
    text-underline-offset: 5px;
}

.homeButton .image{
    width: 70px;
    height: auto;
    padding-left: 10px;
    padding-right: 68px;
}

.rightSide{
    padding-right: 30px;
    display: flex;
    gap: 10px; /* Space between the tabs */
    justify-content: center; 
}

.darkMode {
    border: none;
    background: none;
}

.darkMode:hover {
    cursor: pointer;
}

.darkMode .image{
    width: 30px;
    height: auto;
}

.login {
    font: inherit;
    height:34px;
    background-color: #282936;
    color: rgb(255, 255, 255);
    border-radius: .3rem;
    font-size: 15px;
    padding: 0.375em 0.7em;
    font-weight: 500;
    transition: 0.15s ease;
    cursor: pointer;
  }

.login:hover {
    transform: scale(1.03);
}
 