.coursePreview{
    max-width: 600px;
    margin: 15px auto;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top:10px
}

.coursePreview .courseTitle{
    margin-left: 20px;
    margin-right: 17px;
    font-weight:700;
    font-size: 17px;
}
.coursePreview .courseDescription{
    margin-left: 20px;
    margin-right: 17px;
    color: #656262;
    font-weight:500;
    font-size: 16px;
    line-height: 22px;
}

